@{
    ViewData["Title"] = "Home Page";
}
@using Form_Submission.Models
@model User

<div class="text-center">
    <h1 class="display-4">Successful User Creation!</h1>
    <img src="~/img/DSC_4839.JPG" alt="Hiking" style="max-width: 75%;">
    <div>
        <a href="/"><button class="btn-primary">Submit a new Form</button></a>
    </div>
</div>